.CommandsList table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  font-size: 17px;
}

.CommandsList .command {
  width: 70%;
}

.CommandsList .command {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  width: 30%;
}

.CommandsList table tr td {
  padding: 10px;
}

.CommandsList table tr td {
  border-bottom: solid silver 1px;
}

.CommandsList .description {
  font-size: 15px;
}
