.CommandsList code {
  white-space: nowrap;
  background-color: lavender;
  display: inline-block;
  padding: 0 0.5rem;
}

.CommandsList .label-wrapper {
  width: 70%;
}

.CommandsList .label-wrapper code {
  margin-top: 0.5rem;
  background-color: hsla(0,0%,0%,0.04);
}

.CommandsList .label {
  padding-left: rem;
}
