.CommandList table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}

.CommandList .command {
  white-space: nowrap;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.CommandList table tr td {
  padding: 10px;
}

.CommandList table tr td {
  border-bottom: solid silver 1px;
}

.CommandList .description {
  font-size: 15px;
}
